@import "tailwindcss";

#root {
  width: 100%;
  min-height: 100vh;
}


html {
  scroll-behavior: smooth;
  font-family: sans-serif;
}

body {
  min-height: none;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
